[submodule "schematic/lbr/SparkFun-Eagle-Libraries"]
	path = schematic/lbr/SparkFun-Eagle-Libraries
	url = git@github.com:sparkfun/SparkFun-Eagle-Libraries.git
[submodule "schematic/lbr/u-blox"]
	path = schematic/lbr/u-blox
	url = git@github.com:u-blox/CadSoft-Eagle-Library.git
